/*  */
@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,700&display=swap);
/* ================================================================ */

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

body {
	font-family: "Montserrat", "serif";
}
.header {
	text-align: center;
}
.cinema {
	margin-bottom: 15px;
	font-family: "Ubuntu", "serif";
	font-weight: 700;
	font-size: 30px;
	text-shadow: 1px 2px 8px #000;
}
span {
	padding: 5px 15px;
	margin-right: 10px;
	display: inline-block;
	border: 2px solid rgb(29, 42, 218);
	border-radius: 50px 0 50px 0;
	box-shadow: inset 0px 0px 10px 0px #000, 0 0 10px 0 red;
}
.title {
	margin-bottom: 20px;
	text-align: center;
}

.title-2 {
	color: crimson;
	font-weight: 500;
	text-align: right;
	margin-bottom: 10px;
	text-decoration: underline rgb(39, 231, 135);
}
.interval {
	word-spacing: 8px;
	max-height: 50px;
	overflow: scroll;
	margin-bottom: 30px;
}
.border {
	padding: 10px;
	box-shadow: 5px 5px 10px 10px rgb(22, 59, 223), inset 0 0 7px 2px #000;
	border-radius: 30px;
	margin: 0 10px 30px 10px;
}

.img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: -5px 5px 15px 15px rgba(0, 0, 0, 0.747);
	margin-right: 10px;
}
.border-2 {
	margin-bottom: 30px;
	border: 1px solid #000;
}
.border-3 {
	margin-bottom: 30px;
	border: 10px dotted rgb(193, 27, 235);
}
.border-4 {
	margin-bottom: 30px;
	border: 5px dashed rgb(243, 132, 42);
}
.button-2 {
	margin-bottom: 20px;
}
.button {
	margin-right: 250px;
}

.wrapper-2 {
	font-family: "CircularStd", "serif";
	font-size: 18px;
	margin: 0 auto;
	max-width: 1025px;
}

.block-1 {
	text-align: center;
	margin-bottom: 224px;
	line-height: 1.3;
}
.fit {
	font-size: 65px;
	font-weight: normal;
	margin-bottom: 20px;
	color: #313131;
}
.text-2 {
	font-size: 20px;
	color: #5f5f5f;
}

.block-2 {
	line-height: 1.3;
}

.fit-2 {
	color: #313131;
	font-weight: bold;
	font-size: 34px;
	margin-bottom: 20px;
}
.text {
	line-height: 1.5;
	color: #5f5f5f;
	margin-bottom: 125px;
}

h3 {
	font-weight: bold;
	color: #313131;
	margin-bottom: 5px;
}

.text-3 {
	color: #b8b8b8;
	margin-bottom: 50px;
}
