/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* по умолчанию */
	/* font-size: 16px;  */
}
body {
	line-height: 1;
	color: #fff;
	background-color: #333;
	font-family: "Roboto";
	font-size: 14px;
	background-color: #F5F5F5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ------------------------------ */
.main {
	flex-grow: 1;
}

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
/* @media (max-width: 1050px) { */
/* } */
/* Условные планшеты */
/* @media (max-width: 991.98px) { */
/* } */
/* Условные мобилки */
/* @media (max-width: 767.98px) { */
/* } */

[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;	
} 

.header {
	background: url("../img/who-we-are/fon.jpg") center / cover no-repeat;
	min-height: 800px;
}
.header__container {
	padding-top: 26px;
}

.header__picture{
	flex: 0 0 174px;
}
.header__image{
	width: 100%;
}
.header__info {
	display: flex;
}

.info__time {
	margin-right: 30px;
	background: url("../img/header/time.svg") 0 0 no-repeat;
	padding: 0 0 0 32px;
}
.title {
	font-weight: 700;
font-size: 12px;
line-height: 1.8;
letter-spacing: 0.15px;
color: #FFFFFF;
max-width: 172px;
}
.subtitle {
	font-weight: 500;
font-size: 12px;
line-height: 1.8;
letter-spacing: 0.15px;
color: #FFFFFF;
}
.info__phone {
	background: url("../img/header/phone.svg") 0 0 no-repeat;
	padding: 0 0 0 32px;
	margin-right: 20px;
} 

.button {
		display: inline-block;
		font-weight: 700;
		font-size: 12px;
		line-height: 2;
		letter-spacing: 0.15px;
		text-transform: uppercase;
		border-radius: 2px;
		color: white;
		padding: 9px 35px;
		background-color: #C40B0B;
		transition: background-color 0.3s ease 0s;
}
.button:hover{
	background-color: #b37171;
}
.header__menu {
	background: #FFFFFF;
min-height: 60px;
align-items: center;
   justify-content: space-between;
	padding: 0 40px;
	margin-bottom: 126px;
}
.menu {
	display: flex;
}

.menu__link {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
letter-spacing: 0.15px;
color: #000000;
margin: 0px 37px 0px 0;
}

.menu__search {
	margin-right: 22px;
}

h1 {
	font-weight: 900;
font-size: 56px;
line-height: 1;
color: #FFFFFF;
margin-bottom: 48px;
max-width: 583px;
}
@media (max-width: 1025.98px){
}

/* №2 */
@media (max-width: 991.98px) {
	
	.button {
		display: inline-block;
		font-weight: 700;
		font-size: 12px;
		line-height: 2;
		letter-spacing: 0.15px;
		text-transform: uppercase;
		border-radius: 5px;
		color: white;
		padding: 9px 15px;
		background: #F2726F;
}
.header {
	min-height: 700px;
}
}
/* №3 */
@media (max-width: 767.98px) {
	.header__body{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
      gap: 20px;
		padding-bottom: 20px;
	}
	/* .header {
		min-height: 600px;
	} */
	.menu__icon {
		display: flex;
	}
}

@media (min-width: 767.98px) {
	
	.header__body {
		display:flex;
		justify-content: space-between;
		margin-bottom:  28px;
	} 
	
}


@media (max-width: 573px) {
	.header {
		background: url("../img/who-we-are/fon.jpg") center no-repeat  ;
		min-height: 600px;
	}
	.header__info{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
      /* gap: 20px; */
		/* padding-bottom: 20px; */
	}
		.header__menu {
			
			margin-bottom: 75px;
		
	}
	h1 {
		font-weight: 700;
		font-size: 46px;
		line-height: 1;
		margin-bottom: 28px;
	}
	.header__title{
		text-align: center;
	}
	.none{
		display: none;
	}
}

@media (max-width: 415px){
	.header__info{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
      /* gap: 20px; */
		/* padding-bottom: 20px; */
	} 
	
	.info__time, .info__phone {
		display: none;
	}
	
	h1 {
		font-weight: 700;
font-size: 36px;
line-height: 1;
margin-bottom: 28px;
	}
}


/* =======who we are================= */

.who-we-are {
	padding-bottom: 230px;
}
.who-we-are__content {
	background: url("../img/who-we-are/gears.png") 100% 0 no-repeat;
	max-height: 700px;
	padding: 100px 87px 0px 87px;
	margin: -80px 0px 0px 0px;

}
.who-we-are__container{
background: #FFFFFF;
}

.block-header {
	max-width: 655px;
}
.block-header__sub-title {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #4B4B4B;
	background: url("../img/who-we-are/chevron.svg") 0 0 / 24px no-repeat;
	padding: 0 0 0 32px;
	margin-bottom: 33px;
}
.block-header__title {
	font-weight: 900;
font-size: 36px;
line-height: 1.1;
color: #02133C;
margin-bottom: 36px;
}
.who-we-are__text {
	font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.15px;
color: #4B4B4B;
margin-bottom: 54px;
}
.who-we-are__image {
}
.image-box {
	/* flex: 0 0 420px; */
	position: relative;
	padding: 0 0 60% 0;
}
.image-box__image {
	/* width: 100%; */
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 991.98px) {
	.who-we-are__content {
		padding: 80px 67px 0px 67px;
		margin: -70px 0px 0px 0px;
	}
}
@media (max-width: 767.98px) {
	.who-we-are__content {
			max-height: 600px;
		padding: 60px 57px 0px 57px;
	}
	.who-we-are__content {
		background: url("../img/who-we-are/gears.png");
}
.who-we-are {
	padding-bottom: 100px;
}
}
@media (max-width: 480px) {
	.who-we-are {
		padding-bottom: 30px;
	}
	.who-we-are__content {
		margin: -30px 0px;
      padding: 20px 17px 0px 17px;
	}
	.who-we-are__text{
		text-align: center;
		margin-bottom: 34px;
	}
	.block-header__title{
		text-align: center;
	}
	.who-we-are__text {
	font-size: 14px;
	}
}

/* =======promise=========== */

.promise {
	padding: 110px 0 122px 0;
}


.promise__container {
}
.promise__content {
}
.promise__header {
}
.block-header {
}
.block-header__sub-title {
}
.block-header__title {
}
.promise__row {
	display: flex;	
	flex-wrap: wrap;
	margin: 0px -12px;
}
.promise__column {
	padding: 0px 12px;
		flex: 0 0 33.333%;

}
.column {
	display: flex;		
min-width: 324px;
}
.column__pictury {
	flex: 0 0 63px;
}
.column__image {
width: 100%;
}
.column__body {
	padding-left: 23px;
}
.column__info {
	font-weight: 900;
font-size: 19px;
line-height: 1.3;
color: #02133C;
}
.column__text {
	font-weight: 400;
	font-size: 16px;
line-height: 1.5;
letter-spacing: 0.15px;
color: #4B4B4B;
}


@media (max-width: 991.98px) {
	.promise {
		padding: 80px 0 122px 0;
	}
	.column {
	min-width: 320px;
	}
	.promise__row {
		justify-content: center;
		row-gap: 15px;
	}
}

@media (max-width: 767.98px) {
	
	.promise__row {
		justify-content: center;
		row-gap: 15px;
	}
}
/* ========video========= */

.video {
	/* margin-bottom: 110px; */
	background: url("/img/video/video.png") 0 0 / cover no-repeat;
	min-height: 500px;
	
}
.video__container {
	max-width: 100%;
/* margin-left: 800px; */
padding-top: 112px;
	max-width: 411px;
}
.video__title {
	font-weight: 900;
font-size: 36px;
line-height: 1.1;
color: #FFFFFF;

}
.video__button {
	/* flex: 0 1 48px; */
}
.video__image{
	/* width: 100%; */
}

/* =========service========== */

.services {
	padding-top: 110px;
	position: relative;
}
.services::before{
	content: "";
	background: url("../img/services/gears.png") no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%; 
}
.services::after{
	content: "";
	background: url("../img/services/gears2.png")  100% 100% no-repeat;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.services__container {
	display: flex;
	flex-direction: column;
	position: relative;
}
.services__header {
	margin: 0px 0px 74px 0px;
}
.block-header {
}
.block-header__sub-title {
}
.block-header__title {
}
.services__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0px -12px;
}
.services__items:not(:last-child) {
	margin: 0px 0px 66px 0px;
}
.services__item {
	padding: 0px 12px;
	flex: 1 1 33.333%;
	min-width: 300px;
}
@media (max-width: 991.98px) {
	.services__item {
	max-width: 290px;
	}
}
@media (max-width: 767.98px) {
	.services__item {
	max-width: 360px;
	}
}
.item-services {
	
}
.item-services__card {
	background-color: #ffffff;
	padding: 50px 44px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	transition: all 0.3s ease ;
	height: 100%;

}
.item-services__card:hover{
	
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.item-services__icon {
	flex: 0 0 63px;
	width: 63px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.item-services__icon img {
	max-width: 100%;
	max-height: 63px;
}
.item-services__icon:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.item-services__image {
}
.item-services__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.item-services__title {font-weight: 900;
	font-size: 19px;
	line-height: 1.3;
	text-align: center;
	color: #02133C;
}
.item-services__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}



.services__button{
	align-self: center;
	margin-bottom: 122px;
}
@media (max-width: 797.98px) {
	.services__items{
		justify-content: center;
	}
}

@media (max-width: 424.98px) {
	.services__items{
		justify-content: center;
	}
}